l10n_ec_account_edi/data/xsd/ComprobanteRetencion_V2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idCliente">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC Cedula o Pasaporte del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRucCedula">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC o cedula del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{10}"/>
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaAutorizacion">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de la autorizacion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaCaducidad">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de caducidad del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del establecimiento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del punto de emision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="7"/>
			<xsd:minInclusive value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDocSust">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento de sustento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="documento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ambiente">
		<xsd:annotation>
			<xsd:documentation>Desarrollo o produccion depende de en cual ambiente se genere el comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:annotation>
			<xsd:documentation>Tipo de emision en el cual se genero el comprobante</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[12]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero generado por el sistema de cada contribuyente
 </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="cadenaTreinta">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="infoTributaria">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion tributaria generica</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"/>
			<xsd:element name="nombreComercial" minOccurs="0" type="nombreComercial"/>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso"/>
			<xsd:element name="codDoc" type="codDoc"/>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"/>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
			<xsd:element name="agenteRetencion" minOccurs="0"	type="agenteRetencion"/>
			<xsd:element name="contribuyenteRimpe" minOccurs="0"	type="contribuyenteRimpe"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuestoDocSustento">
		<xsd:sequence>
			<xsd:element name="codImpuestoDocSustento" minOccurs="1" type="codImpuestoDocSustento"/>
			<xsd:element name="codigoPorcentaje" minOccurs="1" type="codigoPorcentaje"/>
			<xsd:element name="baseImponible" minOccurs="1" type="baseImponible"/>
			<xsd:element name="tarifa" minOccurs="1" type="tarifa"/>
			<xsd:element name="valorImpuesto" minOccurs="1" type="valorImpuesto"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dividendos">
		<xsd:sequence>
			<xsd:element name="fechaPagoDiv" minOccurs="1" type="fecha"/>
			<xsd:element name="imRentaSoc" minOccurs="1" type="imRentaSoc"/>
			<xsd:element name="ejerFisUtDiv" minOccurs="1" type="ejerFisUtDiv"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="compraCajBanano">
		<xsd:sequence>
			<xsd:element name="numCajBan" minOccurs="1" type="numCajBan"/>
			<xsd:element name="precCajBan" minOccurs="1" type="precCajBan"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleImpuesto">
		<xsd:sequence>
			<xsd:element name="codigo" minOccurs="1" type="codigoReembolso"/>
			<xsd:element name="codigoPorcentaje" minOccurs="1" type="codigoPorcentajeReembolso"/>
			<xsd:element name="tarifa" minOccurs="1" type="tarifaReembolso"/>
			<xsd:element name="baseImponibleReembolso" minOccurs="1" type="baseImponibleReembolso"/>
			<xsd:element name="impuestoReembolso" minOccurs="1" type="impuestoReembolso"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="detalleImpuestos">
		<xsd:sequence maxOccurs="1">
			<xsd:element name="detalleImpuesto" type="detalleImpuesto" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reembolsos">
		<xsd:sequence>
			<xsd:element name="reembolsoDetalle" minOccurs="1" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipoIdentificacionProveedorReembolso" minOccurs="1" type="tipoIdentificacionProveedorReembolso"/>
						<xsd:element name="identificacionProveedorReembolso" minOccurs="1" type="identificacionProveedorReembolso"/>
						<xsd:element name="codPaisPagoProveedorReembolso" minOccurs="0" type="codPaisPagoProveedorReembolso"/>
						<xsd:element name="tipoProveedorReembolso" minOccurs="1" type="tipoProveedorReembolso"/>
						<xsd:element name="codDocReembolso" minOccurs="1" type="codDocReembolso"/>
						<xsd:element name="estabDocReembolso" minOccurs="1" type="estabDocReembolso"/>
						<xsd:element name="ptoEmiDocReembolso" minOccurs="1" type="ptoEmiDocReembolso"/>
						<xsd:element name="secuencialDocReembolso" minOccurs="1" type="secuencialDocReembolso"/>
						<xsd:element name="fechaEmisionDocReembolso" minOccurs="1" type="fechaEmisionDocReembolso"/>
						<xsd:element name="numeroAutorizacionDocReemb" minOccurs="1" type="numeroautorizacionDocReemb"/>
						<xsd:element name="detalleImpuestos" minOccurs="1" type="detalleImpuestos"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuestosDocSustento">
		<xsd:sequence maxOccurs="1">
			<xsd:element name="impuestoDocSustento" type="impuestoDocSustento" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="retencion">
		<xsd:annotation>
			<xsd:documentation>Impuesto de un comprobante de retencion. Contiene los elementos de cada fila del comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" minOccurs="1" type="codigo"/>
			<xsd:element name="codigoRetencion" minOccurs="1" type="codigoRetencion"/>
			<xsd:element name="baseImponible" minOccurs="1" type="baseImponible"/>
			<xsd:element name="porcentajeRetener" minOccurs="1" type="porcentajeRetener"/>
			<xsd:element name="valorRetenido" minOccurs="1" type="valorRetenido"/>
			<xsd:element name="dividendos" minOccurs="0" type="dividendos"/>
			<xsd:element name="compraCajBanano" minOccurs="0" type="compraCajBanano"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="retenciones">
		<xsd:sequence maxOccurs="1">
			<xsd:element name="retencion" type="retencion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pago">
		<xsd:sequence>
			<xsd:element name="formaPago" minOccurs="1" type="formaPago"/>
			<xsd:element name="total" minOccurs="1" type="total"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pagos">
		<xsd:sequence maxOccurs="1">
			<xsd:element name="pago" type="pago" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docSustento">
		<xsd:annotation>
			<xsd:documentation>Informacion de los documentos que originan la retenciones.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codSustento" minOccurs="1" type="codSustento"/>
			<xsd:element name="codDocSustento" minOccurs="1" type="codDocSustento"/>
			<xsd:element name="numDocSustento" minOccurs="1" type="numDocSustento"/>
			<xsd:element name="fechaEmisionDocSustento" minOccurs="1" type="fecha"/>
			<xsd:element name="fechaRegistroContable" minOccurs="0" type="fecha"/>
			<xsd:element name="numAutDocSustento" minOccurs="0" type="numAutDocSustento"/>
			<xsd:element name="pagoLocExt" minOccurs="1" type="pagoLocExt"/>
			<xsd:element name="tipoRegi" minOccurs="0" type="tipoRegi"/>
			<xsd:element name="paisEfecPago" minOccurs="0" type="paisEfecPago"/>
			<xsd:element name="aplicConvDobTrib" minOccurs="0" type="afirmacion"/>
			<xsd:element name="pagExtSujRetNorLeg" minOccurs="0" type="afirmacion"/>
			<xsd:element name="pagoRegFis" minOccurs="0" type="afirmacion"/>
			<xsd:element name="totalComprobantesReembolso" minOccurs="0" type="totalComprobantesReembolso"/>
			<xsd:element name="totalBaseImponibleReembolso" minOccurs="0" type="totalBaseImponibleReembolso"/>
			<xsd:element name="totalImpuestoReembolso" minOccurs="0" type="totalImpuestoReembolso"/>
			<xsd:element name="totalSinImpuestos" minOccurs="1" type="totalSinImpuestos"/>
			<xsd:element name="importeTotal" minOccurs="1" type="importeTotal"/>
			<xsd:element name="impuestosDocSustento" type="impuestosDocSustento"/>
			<xsd:element name="retenciones" type="retenciones"/>
			<xsd:element name="reembolsos" minOccurs="0" type="reembolsos"/>
			<xsd:element name="pagos" type="pagos"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="maquinaFiscal">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion de las maquinas fiscales</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="marca"  minOccurs="1" type="cadenaTreinta"/>
			<xsd:element name="modelo"  minOccurs="1" type="cadenaTreinta"/>
			<xsd:element name="serie"  minOccurs="1" type="cadenaTreinta"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="comprobanteRetencion">
		<xsd:annotation>
			<xsd:documentation>Elemento que describe un comprobante de Retencion</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoCompRetencion">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="fechaEmision" type="fechaEmision"/>
							<xsd:element name="dirEstablecimiento" minOccurs="0" type="dirEstablecimiento"/>
							<xsd:element name="contribuyenteEspecial" minOccurs="0"	type="contribuyenteEspecial"/>
							<xsd:element name="obligadoContabilidad" minOccurs="0"	type="obligadoContabilidad"/>
							<xsd:element name="tipoIdentificacionSujetoRetenido" type="tipoIdentificacionSujetoRetenido"/>
						    <xsd:element name="tipoSujetoRetenido" minOccurs="0" type="tipoSujetoRetenido"/>
							<xsd:element name="parteRel" minOccurs="1" type="parteRel"/>
							<xsd:element name="razonSocialSujetoRetenido" type="razonSocialSujetoRetenido"/>
							<xsd:element name="identificacionSujetoRetenido" type="identificacionSujetoRetenido"/>
							<xsd:element name="periodoFiscal" type="periodoFiscal"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="docsSustento">
					<xsd:complexType>
						<xsd:sequence maxOccurs="1">
							<xsd:element name="docSustento" type="docSustento" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="maquinaFiscal" minOccurs="0"  maxOccurs="1" type="maquinaFiscal"/>
				<xsd:element name="infoAdicional" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence maxOccurs="1">
							<xsd:element name="campoAdicional" minOccurs="1" maxOccurs="15">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="campoAdicional">
											<xsd:attribute name="nombre" type="nombre" use="required"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="comprobante"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:NMTOKEN" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="valorRetenido">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fecha">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombre">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{15}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porcentajeRetener">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="periodoFiscal">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="01|02"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parteRel">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SI|NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][4-8]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="([A-Za-z0-9])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="agenteRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteRimpe">
		<xsd:restriction base="xsd:string">
		  <xsd:pattern value="CONTRIBUYENTE (NEGOCIO POPULAR - )?RÉGIMEN RIMPE"/>
	    </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][4-8]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalSinImpuestos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[126]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDoc">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentaje">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponible">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numAutDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="pagoLocExt">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="01|02"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoRegi">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paisEfecPago">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="afirmacion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SI|NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalComprobantesReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalBaseImponibleReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalImpuestoReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codImpuestoDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[235]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifa">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorImpuesto">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="imRentaSoc">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ejerFisUtDiv">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(19|20)[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numCajBan">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][4-8]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codPaisPagoProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][12]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="estabDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ptoEmiDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencialDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmisionDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/20[0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroautorizacionDocReemb">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="49"/>
			<xsd:minLength value="10"/>
			<xsd:pattern value="[0-9]{10,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[235]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentajeReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifaReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponibleReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="impuestoReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="formaPago">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][1-9]"/>
			<xsd:pattern value="[1][0-9]"/>
			<xsd:pattern value="[2][0-1]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="total">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precCajBan">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="importeTotal">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
