l10n_ec_account_edi/data/xsd/credit_note_V1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by ALEJANDRO SUBIA (SERVICIO DE RENTAS INTERNAS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idCliente">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC Cedula o Pasaporte del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRucCedula">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC o cedula del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{10}"/>
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de uso del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaAutorizacion">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de la autorizacion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del establecimiento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del punto de emision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="documento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="4"/>
			<xsd:maxInclusive value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDocModificado">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:annotation>
			<xsd:documentation>Se guarda la informacion para la clave de acceso</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autorizacion">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por el sistema de Autorizacion de Comprobantes de Venta y Retencion
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ambiente">
		<xsd:annotation>
			<xsd:documentation>Desarrollo o produccion depende de en cual ambiente se genere el comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:annotation>
			<xsd:documentation>Tipo de emision en el cual se genero el comprobante</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-3]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rise">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocModificado">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numDocModificado">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmisionDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="([0][1-9]|[1-2][0-9]|[3][0-1])/([0][1-9]|[1][0-2])/[1-2][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorModificacion">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoInterno">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motivo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="detalle">
		<xsd:annotation>
			<xsd:documentation>Detalle de una nota de credito.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="motivoModificacion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuesto">
		<xsd:annotation>
			<xsd:documentation>Contiene la información de los impuestos</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"> </xsd:element>
			<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"> </xsd:element>
			<xsd:element name="tarifa" minOccurs="1" type="tarifa"> </xsd:element>
			<xsd:element name="baseImponible" minOccurs="1" type="baseImponible"> </xsd:element>
			<xsd:element name="valor" type="valor"> </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="infoTributaria">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion tributaria generica</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"> </xsd:element>
			<xsd:element name="nombreComercial" minOccurs="0" type="nombreComercial"> </xsd:element>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso"> </xsd:element>
			<xsd:element name="codDoc" type="codDoc"> </xsd:element>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"> </xsd:element>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
			<xsd:element name="regimenMicroempresas" type="regimenMicroempresas" minOccurs="0"> </xsd:element>
			<xsd:element name="agenteRetencion" type="agenteRetencion" minOccurs="0"> </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="notaCredito">
		<xsd:annotation>
			<xsd:documentation>Elemento que describe una nota de debito o credito</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoNotaCredito">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="fechaEmision" type="fechaEmision"/>
							<xsd:element name="dirEstablecimiento" minOccurs="0"
								type="dirEstablecimiento"/>
							<xsd:element name="tipoIdentificacionComprador"
								type="tipoIdentificacionComprador"> </xsd:element>
							<xsd:element name="razonSocialComprador" type="razonSocialComprador"> </xsd:element>
							<xsd:element name="identificacionComprador" minOccurs="1"
								type="identificacionComprador"> </xsd:element>
							<xsd:element name="contribuyenteEspecial" minOccurs="0"
								type="contribuyenteEspecial"> </xsd:element>
							<xsd:element name="obligadoContabilidad" minOccurs="0"
								type="obligadoContabilidad"> </xsd:element>
							<xsd:element name="rise" minOccurs="0" type="rise"> </xsd:element>
							<xsd:element name="codDocModificado" type="codDocModificado"> </xsd:element>
							<xsd:element name="numDocModificado" type="numDocModificado"> </xsd:element>
							<xsd:element name="fechaEmisionDocSustento"
								type="fechaEmisionDocSustento" minOccurs="1"/>
							<xsd:element name="totalSinImpuestos" type="totalSinImpuestos"> </xsd:element>
							<xsd:element name="valorModificacion" minOccurs="1"
								type="valorModificacion"> </xsd:element>
							<xsd:element name="moneda" minOccurs="0" type="moneda"> </xsd:element>
							<xsd:element ref="totalConImpuestos"/>
							<xsd:element name="motivo" type="motivo"> </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="detalles">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="detalle" maxOccurs="unbounded" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="codigoInterno" type="codigoInterno"> </xsd:element>
										<xsd:element name="codigoAdicional" minOccurs="0"
											type="codigoAdicional"> </xsd:element>
										<xsd:element name="descripcion" type="descripcion"> </xsd:element>
										<xsd:element name="cantidad" type="cantidad"> </xsd:element>
										<xsd:element name="precioUnitario" type="precioUnitario"> </xsd:element>
										<xsd:element name="descuento" minOccurs="0" type="descuento"
											> </xsd:element>
										<xsd:element name="precioTotalSinImpuesto"
											type="precioTotalSinImpuesto"> </xsd:element>
										<xsd:element name="detallesAdicionales" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
												<xsd:element name="detAdicional" maxOccurs="3">
												<xsd:complexType>
												<xsd:attribute name="nombre">
												<xsd:simpleType>
												<xsd:restriction base="xsd:string">
												<xsd:minLength value="1"/>
												<xsd:maxLength value="300"/>
												</xsd:restriction>
												</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="valor">
												<xsd:simpleType>
												<xsd:restriction base="xsd:string">
												<xsd:pattern
												value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
												<xsd:minLength value="1"/>
												<xsd:maxLength value="300"/>
												</xsd:restriction>
												</xsd:simpleType>
												</xsd:attribute>
												</xsd:complexType>
												</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="impuestos">
											<xsd:complexType>
												<xsd:sequence>
												<xsd:element name="impuesto" type="impuesto"
												minOccurs="0" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="infoAdicional" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="15" name="campoAdicional">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="campoAdicional">
											<xsd:attribute name="nombre" type="nombre" use="required"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="comprobante"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:NMTOKEN" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="totalConImpuestos">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="totalImpuesto">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="codigo" type="codigo"> </xsd:element>
							<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
							<xsd:element minOccurs="1" name="baseImponible" type="baseImponible"> </xsd:element>
							<xsd:element minOccurs="1" name="valor" type="valor"> </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="codDoc">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="regimenMicroempresas">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="agenteRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="([0][1-9]|[1-2][0-9]|[3][0-1])/([0][1-9]|[1][0-2])/[1-2][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SI|NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="04|05|06|07"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigo">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalSinImpuestos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponible">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="moneda">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentaje">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descripcion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="cantidad">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="6"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioUnitario">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="6"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descuento">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioTotalSinImpuesto">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifa">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombre">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<!--<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\S]|[^\n])*"/>-->
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
